.navigation {
  height: 100vh;
  font-family: 'BlueHighway-Bold';
  font-size: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  background-color: #A37774;
  counter-reset: a;

  &__link {
    text-decoration: none;
    color: #FCDDBC;
    position: relative;

    &:before {
      position: absolute;
      content: '0'counter(a);
      counter-increment: a;
      font-size: 20px;
      left: -25px;
      top: 0;
    }
  }
}