.navigation {
  height: 100vh;
  font-family: acumin-pro-wide, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 7vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B0014;
  counter-reset: a;

  li {
    margin-bottom: 5%;
  }

  &__link {
    text-decoration: none;
    color: #FFF;
    position: relative;

    &:before {
      position: absolute;
      content: '0'counter(a);
      font-style: normal;
      counter-increment: a;
      font-size: 2vw;
      left: -30px;
      top: 0;
    }
  }
}