.scrollAnimation {
  overflow: hidden;

  &__section {
    height: 70vh;
  }
  
  .sticky {
    height: 100vh;
    width: 100%;

    & .animation {
      width: 100%;
      height: 100%;
      position: absolute;
      & svg {
        opacity: 1;
        position: absolute;
        width: 30px;
        height: 30px;
      }
    }

    .heading {
      position: absolute;
      height: 100%;
      width: 100%;
      h2 {
        font-size: 40px;
        position: absolute;
        bottom: 10%;
        left: 10%;
        margin: 0;
      }
    }
  }
}